<%= form_for [topic], remote: true do |f| %>
  <% if topic.errors.any? %>
    <div class="alert alert-danger">
      <h4> There are <%= pluralize(topic.errors.count, "error") %>.</h4>
      <ul>
        <% topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <%= form_group_tag(topic.errors[:title]) do %>
    <%= f.label :title, class: 'lato-dark' %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Topic titles must start with a '#'" %>
  <% end %>
  <div class="text-center">
    <i>
      <span class="glyphicon glyphicon-info-sign"></span>
      Topics start with a '#' and hold related WickerMarks
    </i>
  </div>
  <div class="form-group text-center">
    <br>
    <hr>
    <%= f.submit "Create Topic", class: 'btn btn-primary lato-normal' %>
  </div>
<% end %>