<%= content_tag :div, id: "topic-#{topic.id}" do %>
  <%= link_to topic_path(topic), class: 'lato-normal black' do %>
    <h2 class="list-inline"><%= topic.title %></h2>
    <h4 class="list-inline"><span class="glyphicon glyphicon-tags"></span></h4>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <% topic.bookmarks.each do |bookmark| %>
        <div class="list-inline auto-margins">
          <div class="thumbnail text-center left-margin">
            <%= link_to image_tag(bookmark.image.url(:thumb), class: 'bm-image-padded'), bookmark_path(bookmark) %>
            <div class="caption">
              <h5 class="lato-normal black"><%= bookmark.title %></h5>
              <small class="lato-normal black">Marked By: <%= link_to bookmark.user.name, user_path(bookmark.user) %></small>
              <br>
              <hr>
              <%= link_to bookmark.url, class: 'btn btn-default like-button list-inline' do %>
                <span class="glyphicon glyphicon-globe"></span>
              <% end %>
              <div class="js-likes list-inline">
                <%= render partial: 'likes/like', locals: { bookmark: bookmark }%>
              </div>
              <%= link_to bookmark_path(bookmark), class: 'btn btn-default like-button list-inline' do %>
                <span class="glyphicon glyphicon-sunglasses"></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
<% end %>